<style>
 #post-container {
    grid-area: content;
    padding-top: .35em;
    padding-bottom: .35em;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "photoinfo comments";
 }

#post-details {
	display:inline-block;
}

#image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area:photoinfo;
}

div[id^=message-]{
    display: grid;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .2em;
    padding: .25rem;
    margin: .2rem;
    font-size: 1rem;
    border: .0625rem solid black;
    border-radius: .25rem;
    grid-template-areas: 
    "author created"
    "comment comment";
}

	#comment-container {
    
    grid-area: comments;
    grid-template-rows: auto 75px;
    grid-template-columns: 1fr;
    gap: .2rem;
    grid-template-areas: 
    "messages"
    "comment-box";
    max-height: 80vh;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/952/192/946/persona-persona-4-persona-4-golden-wallpaper-preview.jpg");
    background-repeat: no-repeat;
}
}

#comment {
	grid: inline-block;
}


#messages {
    grid-area: messages;
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
}
</style>
<div id="post-container">
	<div id="post-details">
	<div id="post-title">
		<center>
			<h3>{{currentPost.title}}</h3>
		</center>
	</div>
	<div id="post-author">
		<center>
			<p>Author: {{currentPost.username}}</p>
		</center>
	</div>
	<div id="post-time">
		<center>
			<p>Posted at: {{currentPost.created}}</p>
		</center>
	</div>
	<div id="image">
		<center>
			<img src="/{{currentPost.photopath}}">
		</center>
	</div>
	<div id="post-desc">
		<p>{{currentPost.description}}</p>
	</div>
	</div>
	<div id="comment-container">
		<div id="messages">
			{{#each currentPost.comments}}
				{{> comment this}}
			{{/each}}
		</div>
			{{!-- {{log this}} --}}
		</div>
		<div id="comment-box">

		</div>
		<div id="comment">
		<textarea id="comment-box-text" class="form-control" aria-label="with textarea"
			placeholder="Comment Here"></textarea>
		<button id="comment-box-button" type="submit">Send</button>
		</div>
	</div>
</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
			postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
		});
	});

	function addFlashFromFrontEnd(message) {
    let flashMessageDiv = document.createElement('div');
    let innerFlashDiv = document.createElement('div');
    let innerTextNode = document.createTextNode(message);
    innerFlashDiv.appendChild(innerTextNode);
    flashMessageDiv.appendChild(innerFlashDiv);
    flashMessageDiv.setAttribute('id', 'flash-message');
    innerFlashDiv.setAttribute('class', 'alert-info');
    document.getElementsByTagName('body')[0].appendChild(flashMessageDiv);
    setFlashMessageFadeOut(flashMessageDiv);
}

	function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML =
            `<div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.comment}</div>
        </div>`;
        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }
    document.getElementById('comment-box-button').onclick = (event) => { 
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];
        document.getElementById('comment-box-text').value = '';

        if (!commentText) {
            return addFlashFromFrontEnd('Your comment was empty!');
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId
            })
        }
        fetch('/comments/create', fetchOptions) //routes/comments.js
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                } else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(err => console.log(err));
    }
</script>