<div id="post-container">
	<section id="post-title">
		<center>
			<h3>{{currentPost.title}}</h3>
		</center>
	</section>
	<section id="post-author">
		<center>
			<p>{{currentPost.username}}</p>
		</center>
	</section>
	<section id="post-time">
		<center>
			<p>Posted at: {{currentPost.created}}</p>
		</center>
	</section>
	<section id="image">
		<center>
			<p>Post Image</p>
			<img src="/{{currentPost.photopath}}">
		</center>
	</section>
	<section id="post-desc">
		<p>{{currentPost.description}}</p>
	</section>
</div>